* {
box-sizing: border-box;
}

.wrapper {
max-width: 1200px;
font-family: "Poppins";
margin: auto;
}

h1 {
font-size: 2.027rem;
}
h2 {
font-size: 1.802rem;
}
h3 {
font-size: 1.266rem;
}

 /* ----------------------------------------- */

header .wrapper {
display: flex;
justify-content: space-between;
align-items: center;
}

.wrapper ul {
display: flex;
flex-direction: row;
}
    
.wrapper li {
padding: 1em;
list-style: none;
}

header .wrapper a {
text-decoration: none;
color: #000;
font-size: 1.4rem;
font-weight: 500;
}

header img {
max-width: 40%;
}

 /* ----------------------------------------- */

#sweethearts-affair .text {
padding: .5em 2em 3em 2em;
}

#sweethearts-affair .last-p {
padding-bottom: 1em;
}

#sweethearts-affair .product-shots {
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(4,1fr);
gap: 1rem;
padding-left: .5em;
padding-right: .5em;
}

#sweethearts-affair .product-shots img {
border-radius: 10px;
}

#sweethearts-affair .product-shot-1 {
grid-column: 1 / 4;
grid-row: 1 / 4;
max-width: 100%;
}

#sweethearts-affair .product-shot-2 {
grid-column: 1;
grid-row: 4;
max-width: 100%;
}

#sweethearts-affair .product-shot-3 {
grid-column: 2;
grid-row: 4;
max-width: 100%;
}

#sweethearts-affair .product-shot-4 {
grid-column: 3;
grid-row: 4;
max-width: 100%;
}

#sweethearts-affair h1 {
font-weight: 500;
}

#sweethearts-affair .btn {
color: #fff;
background-color: #000;
padding: 0.5em 1em 0.5em 1em;
border-radius: 5px;
text-decoration: none;
}

 /* ----------------------------------------- */

#behind-the-dough .wrapper {
background-color: #f8fafc;
padding: .5em 2.5em 2em 2.5em;
}

#behind-the-dough h2 {
text-align: center;
}

 /* ----------------------------------------- */

 
#what-people-are-saying .wrapper {
background-color: #000;
color: #fff;
padding: 1em 0em 2em 0em;
}

#what-people-are-saying h2 {
text-align: center; 
}

#what-people-are-saying .andrew-quote {
padding-bottom: 3em;
}

#what-people-are-saying .andrew {
line-height: 3rem;
}

#what-people-are-saying .emely-quote {
padding-bottom: 3em;
}

#what-people-are-saying .emely {
line-height: 3rem;
}

#what-people-are-saying .ana {
line-height: 3rem;
}

/*

I'm realizing I could have formatted this section in a simpler way by doing something like the code below, 
however I don't want to accidentally wreck my html the night before the assignment is due, so enjoy the method employed above.

#what-people-are-saying .quotes {
display: grid;
gap: 1rem;
}

#what-people-are-saying .quotes p {
display: flex;
flex-direction: column;
align-items: flex-start;
}

*/

 /* ----------------------------------------- */


#try-it-with h2 {
text-align: center;
padding-top: .5em;
padding-bottom: .5em;
}

#try-it-with .product-images {
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
gap: 1rem;
}

#try-it-with img {
border-top-left-radius: 10px;   
border-top-right-radius: 10px;
}

#try-it-with .ride-or-die img {
grid-column: 1;
grid-row: 1;
max-width: 100%;
}

#try-it-with .ride-or-die {
background-color: #f8fafc;
border-radius: 20px;
text-align: center;
}

#try-it-with .brownie-beast img {
grid-column: 2;
grid-row: 1;
max-width: 100%;
}

#try-it-with .brownie-beast {
background-color: #f8fafc;
border-radius: 20px;
text-align: center;
}

#try-it-with .cookie-monsta img {
grid-column: 1;
grid-row: 2;
max-width: 100%;
}

#try-it-with .cookie-monsta {
background-color: #f8fafc; 
text-align: center;
}

#try-it-with .smores img {
grid-column: 2;
grid-row: 2;
max-width: 100%;
}

#try-it-with .smores {
background-color: #f8fafc; 
border-radius: 20px;
text-align: center;
}

 /* ----------------------------------------- */

footer {
padding-top: 2em;
}

footer .wrapper {
color:#fff;
background-color: #000;
padding: 1em;
text-align: center;
}

/* ----------------------------------------- */

@media screen and (min-width: 768px) {

#sweethearts-affair .product-shots {
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
gap: 1rem;
padding-left: .5em;
padding-right: .5em;
}

#sweethearts-affair .product-shot-1 {
grid-column: 1;
grid-row: 1;
max-width: 100%;
}
    
#sweethearts-affair .product-shot-2 {
grid-column: 2;
grid-row: 1;
max-width: 100%;
}
    
#sweethearts-affair .product-shot-3 {
grid-column: 1;
grid-row: 2;
max-width: 100%;
}
    
#sweethearts-affair .product-shot-4 {
grid-column: 2;
grid-row: 2;
max-width: 100%;
}

#behind-the-dough .behind-the-dough-text {
display: flex;
gap: 2.5rem;
}

#what-people-are-saying .quotes {
display: flex;
gap: 2rem;
}

#what-people-are-saying .text {
margin-bottom: -3em;
}

#try-it-with .product-images {
display: flex;
}

}

/* ----------------------------------------- */

@media screen and (min-width: 960px) {

#sweethearts-affair .product-shots {
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
gap: 1rem;
padding-left: .5em;
padding-right: .5em;
}

#sweethearts-affair .wrapper {
display: flex;
align-items: center;
padding-bottom: 2em;
}

}
